*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body {
	width: 100vw;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	line-height: 1.5;
	font-size: 0.875rem;
	background: url("./images/homefinal.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body::-webkit-scrollbar {
	display: none;
}

html::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);

	line-height: 1.25;
	margin-bottom: 0.75rem;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
}
button {
	outline-style: none;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

/* --------------------    MOBILE STYLING  ------------------------ */
.btn {
	float: left;
	font-size: 1.8rem;
	margin: 3vh 8vw 0 0;
	color: white;
	background-color: transparent;
	/* cursor: pointer; */
	border: none;
}

.close-btn {
	display: block;
	font-size: 1.8rem;
	float: right;
	margin: 3vh 8vw 0 0;
	color: #efefef;
	border: none;
	background: #1d1b1b;
}

.mobile-menu {
	float: right;
	font-size: 1.8rem;
	margin: 3vh 8vw 0 0;
	color: white;

	background-color: transparent;
	border: none;
}

/* --------------nav mobile styling------------------- */

.nav ul {
	display: none;
}
/* ----------    HOME mobile STYLING  -- */

.main-bg {
	height: 100vh;
	position: relative;
}

.main-bg1 {
	height: 100vh;
	background: skyblue;
}
.home-title {
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 3px 8px #1d1b1b;
	z-index: 1;
}
/* ----------    Sidebar mobile STYLING  -- */
.sidebar-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #1d1b1b;
	margin-left: 100vw;
	transition: 0.35s;
	transition-delay: 0.1s;
	z-index: 2;
}

.sidebar-wrapper.show {
	margin-left: 0;
	z-index: 3;
}

.sidebar-ul {
	float: right;
	margin-top: 10vh;
}

.sidebar-li {
	font-size: 1.65rem;
	margin-bottom: 1.5rem;
}

.sidebar-li a {
	color: #efefef;
}

.sidebar-social {
	margin-top: 93vh;
	display: flex;

	justify-content: space-evenly;
}

.sidebar-social-li {
	font-size: 2rem;
}

/* ----------    About mobile STYLING  -- */

/* --------------------    TABLET STYLING ABOVE 750PX ------------------------ */

@media screen and (min-width: 750px) {
}

/* --------------------    LAPTOP STYLING ABOVE 1000px ------------------------ */

@media screen and (min-width: 1000px) {
	.nav {
		position: absolute;
		float: right;
		width: 10vw;
	}
	.nav ul {
		position: fixed;
		top: 100;
		right: 2.5vw;
		margin-top: 3vh;
		text-align: right;
		width: 100vw;
		height: 10vh;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: 1;
	}

	.nav-li:hover:before {
		transition: 0.35s all ease;
		left: 0;
		right: 0;
		opacity: 1;
		z-index: -1;
	}

	.nav-link {
		display: block;
		color: white;
	}

	.mobile-menu {
		visibility: hidden;
	}
}

.hero {
	width: 100%;
	min-height: 100vh;
	padding-left: 140px;
}

.heroInfo {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	padding: 120px 0;
}

.description {
	min-height: 400px;
}

.firstbodytag {
	padding-bottom: 10vh;
}

.lastTypist {
	position: absolute;
	top: 75vh;
}
.description h2 {
	font-size: 60px;
	line-height: 1;
	text-shadow: 3px 3px 1px #0d5b31;
}

.typespan {
	display: block;
	font-size: 21px;

	font-weight: 800;
	margin: 3px 0;
	color: #ffffff;
	text-shadow: 3px 3px 1px #0d5b31;
}

.typespan-h2 {
	color: #ffffff;
}

.btn1 {
	margin-top: 1vh;
	width: 5vw;
	height: auto;
	border: none;
	color: white;
	border-radius: 4px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	transition: ease-out 0.2s;
	font-size: 1rem;
	outline: none;
}

.btn1:hover {
	cursor: pointer;
	transform: matrix(1.2, 0, 0, 1.2, -10, 0);
}

.nav ul li a {
	font-weight: 500;
	text-shadow: 3px 3px 1px #026841;
}

.nav ul li a:active {
	transform: matrix(0.9, 0, 0, 0.9, 3, 0);
}

.whiteline {
	/* display: block; */
	float: right;
	background: white;
	width: 3px;
	height: 0px;
	transition: ease-out 0.3s;
}

.btn1:hover .whiteline {
	width: 95%;
	height: 2px;
}

.navlogo {
	position: fixed;
	height: 50px;
	font-size: 1rem;
	z-index: 2;
}

.pagecomponent {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* about styling */
.about-bg {
	height: 70vh;
	width: 80vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.about-text {
	padding-left: 5%;
	vertical-align: top;
	width: 35%;
	margin: 5% auto;
}

.about-h4 {
	width: 80%;
	margin: 0 auto;
	color: #ffffff;
	margin-bottom: 5%;
}

.about-h5 {
	width: 80%;
	margin: 0 auto;
	color: #ffffff;
}

.about-dp {
	border-radius: 50%;
	vertical-align: top;
	width: 50%;

	background: url("./images/me.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
}

/* skills styling */

.skills-h1 {
	position: relative;
	top: 15%;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 1px #0d5b31;
}

.lastspan {
	padding-top: 10px;
}

.centersvg {
	background: yellowgreen;
}

/* all path stylings (animation) */
.svg-path {
	stroke: white;
	stroke-width: 2;
	fill: none;
}

/* individual word animation stylings */
.word-svg {
	position: absolute;
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	margin-top: 6%;
	margin-left: 18%;
}

.express {
	display: inline-block;
	position: relative;
	width: 80px;
	top: 13vh;
	left: 30vw;
}

/* contact me styling */

.form-container {
	padding-top: 35vh;
	display: flex;
	justify-content: center;
}

.form-control {
	display: inline-block;
	text-align: left;
	outline: none;
}

.form-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1vh;
}

.form-label {
	font-weight: 700;
	color: #ffffff;
	text-shadow: 3px 3px 1px #0d5b31;
	font-size: 1.3rem;
}

.form-input {
	margin-left: 3vw;
	float: right;
	width: 20vw;
	height: 4vh;
	text-indent: 4px;
	font-family: "Segoe UI";
}

.textarea-container {
	position: relative;
}

.message-label {
	font-weight: 700;
	position: absolute;
	top: 0;
	color: #ffffff;
	text-shadow: 3px 3px 1px #0d5b31;
	font-size: 1.3rem;
}

.message-textarea {
	float: right;
	width: 20vw;
	height: 10vh;
	overflow: hidden;
	font-size: 1.3rem;
	text-indent: 4px;
	font-family: "Segoe UI";
}

input {
	border: 2px solid grey;
	border-radius: 4px;
	outline: none;
}

textarea {
	border: 2px solid grey;
	border-radius: 4px;
	outline: none;
	resize: none;
}

/* ------------------ PATH STYLINGS  ( form of divs wrap) ---------------- */

/* this shadow is for all the animated svg headers */
.headerSVGShadow {
	-webkit-filter: drop-shadow(5px 2px 2px #0d5b31);
	filter: drop-shadow(5px 2px 2px #0d5b31);
}

/* home pulse animation styling*/

.dots-wrapper {
	position: absolute;
	top: 30vh;
	left: 57vw;
	display: grid;
	grid-template-columns: repeat(35, 0.9vw);
	grid-template-rows: repeat(20, 0.9vw);
}

.dot {
	width: 0.7vw;
	height: 0.7vw;
	margin: 0.1vw;
	background: green;
	box-shadow: 3px 3px blue;
	transform: scale(1);
	transition: scale 1s;
}

.dot:hover {
	background: blue;
	transform: scale(2);
}

.dot1 {
	width: 0.7vw;
	height: 0.7vw;
	margin: 0.1vw;
	background: green;
	box-shadow: 3px 3px blue;
}

.typist-mini {
	display: block;
	position: relative;
	top: 22vh;
	left: 18%;
}

.typist-mini-text {
	font-size: 1.1em;
	color: #ffffff;
	text-shadow: 3px 3px 1px #0d5b31;
}

/* skills all stylings */

.typist-mini-skills2 {
	display: block;
	position: relative;
	top: 10vh;
	left: 18%;
}

.subskill {
	opacity: 0;
	padding-right: 50px;
}

.subskills {
	padding-top: 15vh;
	padding-left: 25vw;
	display: flex;
	justify-content: left;
	align-items: center;
	width: 60vw;
	transform: translateX(200px);
}

/* projects styling */

.projectsGrid {
	height: 60vh;
	width: 70vw;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30vh;
	margin-left: -30vw;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	justify-content: center;
	/* position: relative;
	z-index: -2;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto); */
}

.singleProject {
	background: blue;
	height: 12vw;
	width: 12vw;
	margin: 3vw;
	flex-wrap: wrap;
	z-index: 3;
	border-radius: 7%;
}

.firstProjectRow {
	opacity: 0;
	position: relative;
	top: -200px;
}
.secondProjectRow {
	opacity: 0;
	position: relative;
	top: 200px;
}

.mernskills {
	padding-top: 35vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transform: translateX(-200px);
}

.mernskill {
	display: inline-block;
	opacity: 0;
	background-position: center center;
	position: relative;
	top: -15px;
}
